<div class="screen" ng-show="connectedReader">
    <form>
        <input class="searchInput bigInput" ng-model="query" placeholder="Search" />
        <span class="searchIcon glyphicon glyphicon-search" ng-click="search=true"></span>
    </form>
    <div class="searchTree" ng-show="search" id="tree"></div>
    <button class="invComplete bigButton btn btn-primary" ng-show="selected" ng-click="select()">Continue</button>
</div>

<a ng-show="!connectedReader" ui-sref="connect">Connect to a reader.</a>